<p id="notice"><%= notice %></p>

<h1>Weather station</h1>

<div class="row">
  <div class="col-md-12">
    <div id='chart_temperature' class=""></div>
    <%= render_chart(@chart_temperature, 'chart_temperature') %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id='chart_pressure' class=""></div>
    <%= render_chart(@chart_pressure, 'chart_pressure') %>
  </div>
</div>


<br>
